@import url("https://use.typekit.net/tzp8gpc.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --dark-color: #272a31;
    --dark-color-1: #494c52;
    --orange-color: #ec5242;
    --white-color: #d3d3d3;
}

body {
    font-family: lato, sans-serif;
}

.navbar {
    display: flex;
}

.mobile-nav {
    background: var(--dark-color);
    padding: 5rem;
    position: fixed;
    display: none;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100vw;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
}

.btn {
    display: flex;
}

.btn-close {
    display: flex;
    color: red;
}

.logo {
    display: flex;
    text-decoration: none;
    gap: 1rem;
    font-size: 2.5rem;
    color: var(--orange-color);
    align-items: center;

}


.close {
    display: none;
}

.open {
    display: flex;
}

.header-container {
    display: none;
    height: 4rem;
    width: 100%;
    background-color: var(--dark-color);
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    
}

.hero {
    background: url(/assets/img-4.jpg) no-repeat center center/ cover;
    padding: 1% 10%;
}

.heading-s {
    color: var(--orange-color);
    font-weight: 300;
    font-size: 6vw;
    margin-bottom: 1rem;
    line-height: 6vw;
    margin-top: 2rem;

}

.heading-m {
    color: var(--orange-color);
    font-weight: 500;
    font-size: 10vw;
    margin-bottom: 1rem;
}

.heading-l {
    color: var(--dark-color);
    font-weight: 400;
    font-size: 6vw;
    margin-bottom: 1rem;
}

.paragrah-hero {
    border: 1px white solid;
    padding: 5%;
    background: var(--white-color);

    font-size: 3vw;
    margin-bottom: 1rem;
}

.paragrah-hero-l {
    color: var(--dark-color);
    font-size: 4vw;
    margin-bottom: 2rem;
}

.main-program {
    background: var(--dark-color);
    padding: 5%;
}

.heading-program {

}

.underline {
    font-weight: 400;
    font-size: 5vw;
    position: relative;
    margin-bottom: 5rem;
}

.underline::after {
    content: "";
    width: 25%;
    height: 0.2rem;
    background-color: var(--orange-color);
    position: absolute;
    bottom: -1rem;
    left: 37%;
}

.card-holder {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;

    align-items: center;
    justify-content: center;
    background: var(--dark-color-1);
    padding: 1rem;
}

.card-title {
    color: var(--orange-color);
}

.card-details {
    color: white;
    margin-left: 1rem;
}

.join-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.btn-join {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: var(--orange-color);
    color: #fff;
    font-size: 1.6rem;
}

.featured-speakers-container {
    background: #fff;
    padding: 5%;
}

.speaker-container {
    display: flex;
    flex-direction: column;

}

.speaker-holder {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1rem;
}

.speaker-details-holder {

}

.speaker-img-holder img {
    width:70%;

}

.underline-role {
    font-weight: 400;
    font-size: 1.6rem;
    position: relative;
    margin-bottom: 3rem;
    color: var(--orange-color);
}

.underline-role::after {
    content: "";
    width: 20%;
    height: 0.3rem;
    background-color: var(--orange-color);
    position: absolute;
    bottom: -1rem;
    left: 0;
}

.underline-partner {
    font-weight: 400;
    font-size: 1.6rem;
    position: relative;
    margin-bottom: 5rem;
    color: var(--orange-color);
}

.underline-partner::after {
    content: "";
    width: 10%;
    height: 0.3rem;
    background-color: var(--orange-color);
    position: absolute;
    bottom: -1rem;
    left: 45%;
}

.partner {
    padding: 5%;
}

.partner-companies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem
}

@media (min-width: 768px) {

    .btn {
        display: none;
    }

    .header-container {
        display: flex;
    }

    .navbar {
        height: 8rem;
        background: #fff;
        
    }

    .paragrah-hero {
        font-size: 2vw;
 
    }

    .btn-join {
        display: none;
    }


    .speaker-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    
    }

} 

@media (min-width: 992px) {

    .speaker-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
    }

}


@media (min-width: 1200px) {

    .speaker-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }

}