@import url("https://use.typekit.net/tzp8gpc.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: lato, sans-serif;
}

.mobile-menu {
    /* display: flex; */
}

.close {
    display: flex;
}

.open {
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    background: red;
}

@media (min-width: 768px) {

    .hamburger-menu {
        display: none;
    }


} 